<footer class="footer p-2 mt-auto bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <span class="text-dark">Website by Taylor Stevenson</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="text-dark">Mobile: 07940 542597</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="text-dark">Email: taylor_stevenson@yahoo.co.uk</span>
      </div>
    </div>
  </div>
</footer>