<footer class="footer py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <span class="text-muted">Website by Taylor Stevenson</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="text-muted">Mobile: 07940 542597</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="text-muted">Email: taylor_stevenson@yahoo.co.uk</span>
      </div>
    </div>
  </div>
</footer>