<div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
  <div class="nav flex-column text-white w-100">
    <p class="h3 text-white my-2 p-1">
      Things I can do
    </p>
    <a href="/" class="nav-link noBlue">
      <span class="mx-2">Homepage</span>
    </a>
    <a href="/auth" class="nav-link noBlue">
      <span class="mx-2">Authentication and Authorization</span>
    </a>
    <a href="/tech" class="nav-link noBlue">
      <span class="mx-2">My Tech Stack</span>
    </a>
  </div>
</div>


<!-- Toggler -->
<div class="my-container">
  <button class="btn border-0" id="menu-btn">
    Click Me!
  </button>
</div>