<div class="side-navbar d-flex flex-column justify-content-between flex-wrap" id="sidebar">

  <div class="nav d-flex flex-column text-white w-100">
    <h3 class="p-2">
      Things I can do
    </h3>
    <div class="border-bottom border-2"></div>
    <a href="/" class="nav-link noBlue mt-3">
      <span class="">Homepage</span>
    </a>
    <hr>
    <a href="/auth" class="nav-link noBlue">
      <span class="">Authentication and Authorization</span>
    </a>
    <hr>
    <a href="/data" class="nav-link noBlue">
      <span class="">Data Upload</span>
    </a>
    <hr>
    <a href="/api" class="nav-link noBlue">
      <span class="">External API Usage</span>
    </a>
    <hr>
    <a href="/tech" class="nav-link noBlue">
      <span class="">My Tech Stack</span>
    </a>
  </div>

  <div class="py-3">
    <% if (currentUser) { %> 
    <form action="/logout" method="get">
      <button class="btn btn-danger">Logout</button>
    </form>
    <% } else {%> 
    <form action="/auth" method="get">
      <button class="btn btn-success">Login or Register</button>
    </form>
    <% } %> 
  </div>

</div>


<!-- Toggler -->
<div class="my-container">
  <button class="btn border-0" id="menu-btn">
    Click Me!
  </button>
</div>