#map {
	width: 100%;
	height: 100%;
}

.mapRow {
	height: 400px;
	margin-bottom: 4rem;
	margin-top: 5rem;
}

.crypto {
	height: 75px;
}

#coinDetails {
	color: violet;
}

#menu {
	background: #efefef;
	padding: 10px;
	text-align: center;
}

#dadList,
#geekList {
	font-size: .70rem;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity .5s linear;
}

.jokeHeight {
	height: 300px;
}
