.editText {
	position: absolute;
	top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	pointer-events: none;
}

.imgAnchor {
	position: relative;
}

.imgCol {
	border: .25rem solid white;
}

.imgCol:hover {
	border-color: purple;
}
