<% layout("/boilerplate") %> 

<div class="container vh-100 text-center">
  <h1>Click to get dad jokes!</h1>
  <button id="jokeBtn1">Click me!</button>
  <ul id="jokes1"></ul>

 <h1>Click to get geeky jokes!</h1>
  <button id="jokeBtn2">Click me!</button>
  <ul id="jokes2"></ul>

  <h1>Click to get crypto prices!</h1>
  <button id="jokeBtn3">Click me!</button>
  <ul id="jokes3"></ul>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Bitcoin</a></li>
    <li class="page-item"><a class="page-link" href="#">Ethereum</a></li>
    <li class="page-item"><a class="page-link" href="#">Cardano</a></li>
    <li>Taylor when one of these is clicked make it so it shows different coin below</li>
  </ul>
</nav>

</div>



<script src="/JS/api.js"></script>