<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/api.css">

<div class="container vh-100 text-center">


  <h1 class="text-center py-2"><u>External APIs</u></h1>

  <div class="row pt-2 h-50">

    <div class="col border">
      <h4>Click to get dad jokes!</h4>
      <button id="jokeBtn1">Click me!</button>
      <ul id="jokes1"></ul>
    </div>
    <div class="col border">
      <h4>Click to get geeky jokes!</h4>
      <button id="jokeBtn2">Click me!</button>
      <ul id="jokes2"></ul>
    </div>

  </div>



  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Click to get crypto prices!</div>
          <div class="card-subtitle d-inline-block"><button class="btn" id="btcBtn">Bitcoin</button></div>
          <div class="card-subtitle d-inline-block"><button class="btn" id="ethBtn">Ethereum</button></div>
          <div class="card-subtitle d-inline-block"><button class="btn" id="adaBtn">Cardano</button></div>
          <div class="card-text" id="coinDetails"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
           <!-- Map here -->
    
           <div id='map'></div>

           <div id="menu" class="mb-3">
             <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" checked="checked">
             <label class="me-1.75" for="satellite-v9">Satellite |</label>
             <input id="light-v10" type="radio" name="rtoggle" value="light">
             <label class="me-1.75" for="light-v10">Light |</label>
             <input id="dark-v10" type="radio" name="rtoggle" value="dark">
             <label class="me-1.75" for="dark-v10">Dark |</label>
             <input id="streets-v11" type="radio" name="rtoggle" value="streets">
             <label class="me-1.75" for="streets-v11">Streets |</label>
             <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors">
             <label class="me-1.75" for="outdoors-v11">Outdoors |</label>
           </div>
        
    </div>
  </div>


</div>

<script>

const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
const lngLat = <%- JSON.stringify(location) %>;

</script>

<script src="/JS/api.js"></script>