<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/api.css">

<div class="container-lg text-center">

  <h1 class="text-center pb-2 pt-5"><u>External APIs</u></h1>

  <div class="row">
    <div class="col-12 col-sm jokeHeight">
      <h4 class="mb-2">Click to get dad jokes!</h4>
      <button class="btn-sm btn-secondary mb-2" id="dadBtn">Click me!</button>
      <ul id="dadList"></ul>
    </div>
    <div class="col-12 col-sm jokeHeight">
      <h4 class="mb-2">Click to get geeky jokes!</h4>
      <button class="btn-sm btn-secondary mb-2" id="geekBtn">Click me!</button>
      <ul id="geekList"></ul>
    </div>
  </div>



  <div class="row mt-3">
    <h4>Click to get crypto prices!</h4>
  </div>

  <div class="row crypto">

    <div class="col">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="card-subtitle d-inline-block border-bottom border-top border-2 border-dark"><button class="btn" id="btcBtn">Bitcoin</button></div>
          <div class="card-subtitle d-inline-block border-bottom border-top border-2 border-dark"><button class="btn" id="ethBtn">Ethereum</button></div>
          <div class="card-subtitle d-inline-block border-bottom border-top border-2 border-dark"><button class="btn" id="adaBtn">Cardano</button></div>
          <h4 class="mt-2" id="coinDetails"></h4>
        </div>
      </div>
    </div>

  </div>

  <div class="row mapRow">
    <div class="col">
           <!-- Map here -->
    
           <div id='map'></div>

           <div id="menu" class="mb-3">
             <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" checked="checked">
             <label class="me-1.75" for="satellite-v9">Satellite |</label>
             <input id="light-v10" type="radio" name="rtoggle" value="light">
             <label class="me-1.75" for="light-v10">Light |</label>
             <input id="dark-v10" type="radio" name="rtoggle" value="dark">
             <label class="me-1.75" for="dark-v10">Dark |</label>
             <input id="streets-v11" type="radio" name="rtoggle" value="streets">
             <label class="me-1.75" for="streets-v11">Streets |</label>
             <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors">
             <label class="me-1.75" for="outdoors-v11">Outdoors |</label>
           </div>
        
    </div>
  </div>


</div>

<script>

const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
const lngLat = <%- JSON.stringify(location) %>;

</script>

<script src="/JS/api.js"></script>