<% layout("/boilerplate") %> 

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
      <div class="col">
          <div class="card shadow">
              <img src="<%= imgToEdit.path %>"
                  alt="" class="card-img-top" />
              <div class="card-body d-flex justify-content-between">
                  <form action="/img-data/edit-img/<%= imgToEdit._id %>?_method=DELETE" method="POST" class="d-inline">
                      <button onclick="return confirm('Are you sure?')" class="btn btn-danger delete me-1">Delete</button>
                  </form>
                  <a href="/data" class="btn btn-secondary ms-1">Go Back</a>
              </div>
          </div>
      </div>
  </div>
</div>