<% layout("/boilerplate") %> 



<div class="container vh-100 ">
  <div class="row vh-100 align-items-center">
    <div class="col text-center">
      <img src="<%= imgToEdit.path %>" alt="" class="img-fluid">
    </div>
  </div>
</div>