<% layout("/boilerplate") -%> 

<link rel="stylesheet" href="/CSS/home.css">

<div id="crusader"></div>

<div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <h1> <u>Welcome to my Portfolio Website!</u> </h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mt-4 mb-4">
        <div class="card shadow p-1">
          <p>
            Hi, i'm Taylor.
            I've been studying Web Development since early September 2020 and have now found myself in love, and obsessed with it.
          </p>
          <p>
            This website is a showcase of a number of the problems I can currently solve.
            What i'm applying for is a developer position, not a designer. If Bob Ross gave me a painting and said 
            "Make a website out if this", I can do it (xD). 
            I'm a problem solver, not an artist.
          </p>
          <p>
  
          </p>
        </div>
      </div>

      <div class="col-10 col-md-6 mb-4 mt-md-4">
        <div class="card shadow">
          <img src="/images/myPC.jpg" class="card-img" alt="Something should be here">
          <p class="card-text p-1 text-center">This is an image of my computer that I built in February this year.</p>
        </div>
      </div>

      <div class="col-12 mb-4">
        <div class="card shadow">
          <img src="/images/ai&human.jpg" class="card-img" alt="Something should be here">
          <p class="card-text p-1 text-center">One day</p>
        </div>
      </div>

    </div>

</div>




