<% layout("/boilerplate") -%> 

<link rel="stylesheet" href="/CSS/home.css">

<div id="crusader"></div>

<div class="container">

    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <p>
          Hi, i'm Taylor.
          I've been studying Web Development since early September 2020 and have now found myself in love, and obsessed with it.
        </p>
        <p>
          This website is a showcase of a number of the I can currently solve.
          What i'm applying for is a developer position, not a designer. If Bob Ross gave me a painting and said 
          "Make a website out if this", I can do it (xD). 
          I'm a problem solver, not an artist.
        </p>
        <p>

        </p>
      </div>
      <div class="col-10 col-md-6 mb-4">
        <div class="card">
          <img src="/images/myPC.jpg" class="card-img" alt="Something should be here">
          <p class="card-text">This is an image of my computer that I built in February this year.</p>
        </div>
      </div>
      <img src="/images/ai&human.jpg" alt="Something should be here">
    </div>

</div>




