<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/home.css">

<div id="crusader">
    <div class="row align-items-center">
      <div class="col text-center">
        <h2 class="text-white m-0 welcomeTxt"> Welcome to my Portfolio Website! </h2>
        <br>
        <a href="#main"><img class="arrImg" src="/images/down-arrow.png" alt="an image should be here" height="45" width="45"></a>
      </div>
    </div>
</div>

<div class="container" id="main">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 mt-4 mb-4">
        <div class="card shadow p-1 h-100">
          <p>
            Hi, i'm Taylor Stevenson.
            I've been studying Web Development since early September 2020 and have now found myself in love, 
            and obsessed with it.
          </p>
          <p>
<!--             This website is a showcase of a number of the problems I can currently solve.
            What i'm applying for is a developer position, not a designer. If Bob Ross gave me a painting and said 
            "Make a website out if this", I can do it (xD). 
            I'm a problem solver, not an artist. -->
          </p>
          <p>I'm 19 and I'm currently looking for work in the Tech Industry. 
            I've recently finished a Udemy.com course for Full Stack Web Development, 
            learning all the technologies that I have used to create this app.
          </p>
          <p>
            I aspire to be a Full Stack Web Developer and would like to see my career progress to potentially developing AI. 
            I also have major experience in hardware components, the current market for hardware, 
            and building computers for friends and family.
          </p>
          <p>
            Currently I believe i'm at a point where with languages that I have learnt,
            I understand the syntax and concepts well enough to learn any tool that utilizes these languages to better my projects
            or someone elses.
          </p>
          <p>
            I have high levels of motivation to succeed in this industry, and would like to learn what I can, 
            as fast as I can, to see myself be extremely competent in all areas of it.
          </p>
          <p>
            Feel free to browse this page and see just SOME of the things I can do!
          </p>
          <p>
            My GitHub Repositories: <a href="https://github.com/Tazwinator?tab=repositories">Click me to go there!</a>
          </p>
          <p>
            My LinkedIn Profile: <a href="https://www.linkedin.com/in/taylor-stevenson-007030102">Click me to go there!</a>
          </p>
          <div class="d-flex justify-content-center align-items-center mb-3">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNDymOyncBUJL-0t2qoA_mpWQov9K71PRVE-yhQLyTlhOM-A/viewform?embedded=true" width="400" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
        </div>
      </div>

      <div class="col-8 col-xl-6 mb-4 mt-md-4">
        <div class="card shadow">
          <img src="/images/myPC.jpg" class="card-img" alt="Something should be here">
          <p class="card-text p-1 text-center mb-1">
            This is an image of my pc that I built in February this year.
          </p>
          <p class="card-text p-1 text-center">
            It has: a 3600Xt a 3060 TI & 16GB of 3200MHz DDR4 RAM.
          </p>
        </div>
      </div>

      <div class="col-12 mb-4">
        <div class="card shadow">
          <img src="/images/ai&human.jpg" class="card-img" alt="Something should be here">
          <p class="card-text p-1 text-center">
            One day I would like to build an AI, that is indistinguishable from humans, but only superficially.
            It shall be immsensely more intelligent than us. And will be able to do things that might take us a lifetime to do, 
            or potentially never do. 
          </p>
          <p class="card-text p-1 text-center">
            We can use them to venture out into the cosmos, or make our own, 
            as seen in this image above from <a href="https://robertsspaceindustries.com">Star Citizen</a>.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-4 offset-4">
      </div>
    </div>

</div>




