<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/home.css">

<div id="crusader">
    <div class="row align-items-center">
      <div class="col text-center">
        <h2 class="text-white m-0 welcomeTxt"> Welcome to my Portfolio Website! </h2>
        <br>
        <a href="#main"><img class="arrImg" src="/images/down-arrow.png" alt="an image should be here" height="45" width="45"></a>
      </div>
    </div>
</div>

<div class="container" id="main">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 mt-4 mb-4">
        <div class="card shadow p-1 h-100">
          <p>
            Hi, I'm Taylor Stevenson.
          </p>
          <p>            
            An aspiring Software Engineer with multiple published projects and a passion for problem solving.
            With 18 months of self-taught study of Web & Software technologies and almost a decade of Hardware study.
          </p>
          <p> 
            Eventually would like to see my career progress to potentially developing AI. 
          </p>
          <p>
            Feel free to browse this page and see just SOME of the things I can do!
          </p>
          <p>
            My GitHub Repositories: <a href="https://github.com/Tazwinator?tab=repositories">Click me to go there!</a>
          </p>
          <p>
            My LinkedIn Profile: <a href="https://www.linkedin.com/in/taylor-stevenson-007030102">Click me to go there!</a>
          </p>
          <div class="row mb-3 justify-content-center align-items-end h-100">
            <div class="col-10">
              <div class="d-flex justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNDymOyncBUJL-0t2qoA_mpWQov9K71PRVE-yhQLyTlhOM-A/viewform?embedded=true" width="400" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8 col-xl-6 mb-4 mt-xl-4">
        <div class="h-100 d-flex flex-column justify-content-center">
          <div class="card shadow">
            <img src="/images/myPC.jpg" class="card-img" alt="Something should be here">
            <p class="card-text p-1 text-center">
              This is an image of my pc that I built in February this year.
              <br>
              It has: a 3600Xt a 3060 TI & 16GB of 3200MHz DDR4 RAM.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 mb-4">
        <div class="card shadow">
          <img src="/images/ai&human.jpg" class="card-img" alt="Something should be here">
          <p class="card-text p-1 mb-0 text-center">
            One day I would like to build an AI, that is indistinguishable from humans, but only superficially.
            It shall be immsensely more intelligent than us. And will be able to do things that might take us a lifetime to do, 
            or potentially never do. 
          </p>
          <p class="card-text p-1 text-center">
            We can use them to venture out into the cosmos, or make our own, 
            as seen in the image at the top of the page from <a href="https://robertsspaceindustries.com">Star Citizen</a>.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-4 offset-4">
      </div>
    </div>

</div>




