<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/tech.css">

<div class="container vh-100">

  <div class="row pt-5 pb-1">
    <div class="col-12">
      <h1 class="text-center"><u>My Technology Stack</u></h1>
      <p>These are techonologies that I have had extensive use in throughout my time self-learning in web development.</p>
      <hr class="mb-3">
    </div>
    <div class="col-5 d-flex justify-content-center">
      <div class=""><strong><u>Front-End</u></strong></div>
    </div>

    <div class="col-5 offset-2 d-flex justify-content-center">
      <div class=""><strong><u>Back-End</u></strong></div>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col-5 border border-1 border-light card shadow star">
      <ul>
        <li>* HTML5</li><br>
        <li>* EJS templating</li><br>
        <li>* CSS</li><br>
        <li>SASS</li><br>        
        <li>* JavaScript</li><br>
        <li>* Bootstrap 5</li><br>
      </ul>
    </div>


    <div class="offset-2 col-5 border border-1 border-light card shadow star">
      <ul>
        <li>* Node.js & NPM</li><br>
        <li>* Bash & MS-DOS Shell Commands</li><br>
        <li>* Git Version Control</li><br>
        <li>* Express.js</li><br>
        <li>* MongoDB Community Server & MongoDB Atlas</li><br>
        <li>* Mongoose</li><br>
        <li>* Passport.js</li><br>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        * Technologies currently used in the making of this project
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 border-light card shadow star">
      <ul>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
      </ul>
    </div>
  </div>

</div>