<% layout("/boilerplate") %> 

<link rel="stylesheet" href="/CSS/tech.css">

<div class="container wrapper">

  <div class="row pt-5 pb-1">
    <div class="col-12">
      <h1 class="text-center"><u>My Technology Stack</u></h1>
      <p>These are techonologies that I have had extensive use in throughout my time self-learning in web development.</p>
      <hr class="mb-3">
    </div>
  </div>


  <div class="row">
    <div class="col my-2">
      <p>
        * Technologies currently used in the making of this project
      </p>
    </div>
  </div>


  <div class="row mb-4 pb-4">
    <div class="col-12 col-sm-5 mb-3">
      <div class="text-center mb-2"><strong><u>Front-End</u></strong></div>
      <div class="border border-1 border-light card star p-1 h-100">
        <ul>
          <li>* HTML5</li><br>
          <li>* EJS templating</li><br>
          <li>* CSS</li><br>
          <li>SASS</li><br>        
          <li>* JavaScript</li><br>
          <li>* Bootstrap 5</li><br>
          <li>Wordpress</li><br>
        </ul>
      </div>
    </div>


    <div class="col-12 offset-sm-2 col-sm-5 mb-3">
      <div class="text-center mb-2"><strong><u>Back-End</u></strong></div>
      <div class="border border-1 border-light card star p-1 h-100">
        <ul>
          <li>* Node.js & NPM</li><br>
          <li>* Bash & MS-DOS Shell Commands</li><br>
          <li>* Git Version Control</li><br>
          <li>* Express.js</li><br>
          <li>* MongoDB Community Server & MongoDB Atlas</li><br>
          <li>* Mongoose</li><br>
          <li>* Passport.js</li><br>
        </ul>
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col">
      <div class="text-center mb-2"><strong><u>Other Technologies</u></strong></div>
      <div class="border border-1 border-light card shadow star p-1">
        <ul>
          <li>Basic Rust  syntax and concepts</li><br>
          <li>Basic C# syntax and concepts</li><br>
        </ul>
      </div>
    </div>
  </div>

</div>